body {
	background-color: blue;

}

h1 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
}

.content {
	border-radius: 40px;
	width: 50%;
	height: 70%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	padding: 20px 40px;
	margin-top: 20px;
}